*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: #04060f;
}

body {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 0;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}